html{
    font-size: 100%;
    width: 1280px;
    height: 1537px;
}
div{
    width: 1280px;
    height: 1537px;
}
h1{
    color: aliceblue;
    background-color: dimgray;
}
.bb1{
    width:350px;
    height: 90px;
    display: flex;
}
